{% load static %}

<!DOCTYPE html>
<html>
    <head>
		<title>Penny's Pizza</title>
        <link rel="stylesheet" href="{% static 'orders/styles/styles.css' %}"/>
		<div>
			<table class="heading">
				<tr>
					<td align="center"><img src="static/orders/main_logo.jpg" class="img_main" alt="Penny's Pizza Logo"></td>
					<td align="center"><img src="static/orders/text_logo.jpg"></td>
					<td align="center">
						<span class="span_est">Since 1992</span>
					</td>
				</tr>
			</table>
		</div>
    </head>
    <body style="background-image: url('static/orders/pizza.jpg');">
        {% block body %}
        {% endblock %}
    </body>
</html>
