{% extends "base.html" %}

{% block title %}
    Create a Pizza
{% endblock %}

{% block body %}
	<head>
		<script src="static/orders/js/create_order.js"></script>
		<div class="links">
			<a href="{% url 'index' %}">Menu</a>
			<a href="{% url 'logout' %}">Logout</a>
			<a href="{% url 'cart' %}">Cart</a>
		</div>
	</head>
	<ul>
	<div>
	<h3>Create your order {{ first }} {{ last }}</h3>
	<form action="" method="POST">
	{% csrf_token %}
		<h3>Style</h3>
				<select id="pizza_style_dropdown" name="style">
					{% for style in styles %}
					<option id={{ style }}>{{ style }}</option>
					{% endfor %}
				</select>
		<h3>Size</h3>
				<select id="pizza_size_dropdown" name="size">
					{% for size in sizes %}
					<option id={{ size }}>{{ size }}</option>
					{% endfor %}
				</select>
		<h3>Number of Toppings</h3>
				<select id="toppings_type_dropdown" 
						name="number_of_toppings" 
						onchange="toppings_type_dropdown_handler()">
					{% for type in types %}
					<option id={{ type }} value="{{ type.value }}">{{ type }}</option>
					{% endfor %}
				</select>
		</div>
		<div id="div_toppings" style="display:none">
		<h3>Toppings</h3>
			<ul>
			{% for topping in toppings %}
			<li>
					<input type="checkbox" 
							name="toppings" 
							value="{{ topping }}" 
							onclick="checkbox_oncheck()" 
							class="topping_box" 
							id="{{ topping }}" 
							disabled="true">
						<label>{{ topping }}</label>                       
				</li>
			{% endfor %}
			</ul>
		</div>
		<div>
			<label>Quantity</label>
			<input type="number" name="quantity" oninput="quantiy_onchange()" value="1" id="quantity" min="1" max="99">
		</div>
		<div>
			<button name="submit" id="submit">Add to Order</button>
		</div>
	</form>
	<div class="cart">
		<h3>Your Cart</h3>
		{% if order_pending %}
			<ul>
				{% for p in order.contents.all %}
				<li>
					{{ p.quantity }} {{ p.pizza_type }}
				
					{% for t in p.toppings.all %} 
						{{ t.name }}
					{% endfor %}						
				</li>
				{% endfor %}
			</ul>
			<div>
				Total: ${{ order.total }}
			</div>			
		{% else %}
			<div>
				Your cart is Empty
			</div>
		{% endif %}
{% endblock %}