{% extends "base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
<head>
	<script src="static/orders/js/create_account.js"></script>
</head>
	<h1>Create Account</h1>
<div class="container">
<form action="{% url 'create_account' %}" method="POST">
{% csrf_token %}
			<label>First Name</label		
			<input type="text" name="first" class="create_account_input" onKeyUp="input_change()">	
			
			<label>Last Name</label>
			<input type="text" name="last" class="create_account_input" onKeyUp="input_change()">	
			
			<label>Email</label>
			<input type="text" name="username" class="create_account_input" onKeyUp="input_change()">	
		    
			<label>Address</label>
			<input type="text" name="address" class="create_account_input" onKeyUp="input_change()">	
			
			<label>City</label>
			<input type="text" name="city" class="create_account_input" onKeyUp="input_change()">	
			
			<label>State</label>
			<input type="text" name="state" class="create_account_input" onKeyUp="input_change()">	
			
			<label>Zip</label>						
			<input type="text" name="zip" class="create_account_input" onKeyUp="input_change()">	
			
			<label>Phone</label>
			<input type="tel" name="phone" class="create_account_input" onKeyUp="input_change()">
			
			<label>Password</label>
			<input type="password" id="password1" name="password1" class="create_account_input"
				pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
				title="Must contain at least one number and one uppercase and lowercase letter, 
				and at least 8 or more characters" required>	
			
			<label>Re-enter Password</label>
			<input type="password" id="password2" class="create_account_input" onkeyup="onkeyup()" name="password2">
			
			<label>Would you like to receive email offers and news?</label>		
			<input type="checkbox" name="receive_emails" checked="true">
			<input type="submit" id="submit" class="submit_button" value="Create" disabled="true"/>			
		<div >
			<label>{{ message }}</label>
		</div>
		<div id="pwd_message" class="pwd_message">
			<h4>Password must contain the following:</h4>
			<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
			<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
			<p id="number" class="invalid">A <b>number</b></p>
			<p id="length" class="invalid">Minimum <b>8 characters</b></p>
			<p id="match" class="invalid">Passwords must <b>match</b></p>
		</div>
	</form>	
</div>
<script>
		
	</script>
{% endblock %}