{% extends "base.html" %}

{% block title %}
    Penny's Est. 1987
{% endblock %}

{% block body %}
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'orders/styles/styles_menu.css' %}"/>
	<script src="static/orders/js/menu.js"></script>	
	<div class="menu_nav">
		<a href="{% url 'create_order' %}">
			{% if current_order %}
				Continue Order
			{% else %}
				Create an Order
			{% endif %}
		</a>		
			{% if logged_in %}
			<a href="{% url 'logout' %}">
				Sign Out
			{% endif %}
		</a>
	</div>
</head>
<div class="div_menu">
	<table class="table_menu">
		<tr>
			<th>Our Styles</th>
		</tr>
		<tr>
			{% for pic in pics %}
				<td>
					<img width="50%" class="img_pizza" src="{{ pic.pic.url }}">
					{{ pic.style }}
				</td>
			{% endfor %}
		</tr> 
	</table>

	<a id="toppings_button" name="toppings_button" class="button_toppings" onclick="toppings_button_onClick()">
		<img src="static/orders/tomato.png" class="img_toppings" width="5%"></img>
	</a>
</div>
<div id="modal_toppings" class="div_toppings">
<span class="close" onclick="close_onClick()">&times;</span>
	<ul class="ul_menu">
	{% for topping in toppings %}
		<li>{{ topping }}</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}