{% extends "base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
<head>
	<script src="static/orders/js/menu.js"></script>
	<div class="menu_nav">
		<a href="{% url 'create_order' %}">
			{% if current_order %}
				Continue Order
			{% else %}
				Create an Order
			{% endif %}
		</a>		
			{% if logged_in %}
			<a href="{% url 'logout' %}">
				Sign Out
			{% endif %}
		</a>
	</div>
</head>
<div class="div_blocks">
	<ul class="ul_menu">
		{% for type in types %}	
			<li>{{ type }}</li>
		{% endfor %}
	</ul>
	<h3>Toppings</h3>
	<ul class="ul_menu">
    {% for topping in toppings %}
        <li>{{ topping }}</li>
    {% endfor %}
	</ul>
</div>
{% endblock %}