{% extends "base.html" %}

{% block title %}
    Penny's Est. 1987
{% endblock %}

{% block body %}
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'orders/styles/styles_menu.css' %}"/>
	<script src="static/orders/js/menu.js"></script>	
	<div class="menu_nav">
		<a href="{% url 'create_order' %}">
			{% if current_order %}
				Continue Order
			{% else %}
				Create an Order
			{% endif %}
		</a>		
			{% if logged_in %}
			<a href="{% url 'logout' %}">
				Sign Out
			{% endif %}
		</a>
	</div>
</head>
<div class="div_menu">
	<table class="table_menu" style="padding-left: 15%">
		<tr>
			<th style="padding-left: 30%">Our Styles</th>
		</tr>
		<tr>
			{% for pic in pics %}
				<td>
					<div id="{{ pic.style }}_modal" >
						<span>{{ pic.style.desc }}</span>
					</div>
					<img width="50%" class="img_pizza" 
						onmouseover='(function(){ 
												var modal = document.getElementsByName("{{ pic.style }}_modal")[0];
												modal.style.display = "block";
												})();' 
							src="{{ pic.pic.url }}">
				</td>
			{% endfor %}
		</tr> 
	</table>

	<a id="toppings_button" style="padding-left: 45%" name="toppings_button" class="button_toppings" onclick="toppings_button_onClick()">
		<img src="static/orders/tomato.png" class="img_toppings" width="5%"></img>
	</a>
</div>
<div id="modal_toppings" class="div_toppings">
<span class="close" onclick="close_onClick()">&times;</span>
	<table class="toppiing_table">
	{% for topping in toppings %}
		<tr>
			<td>
				{{ topping }}
			</td>
			<td>
				<img src="{{ topping.pic }}"/>
			</td>
		</tr>
	{% endfor %}
	</ul>
</div>
{% endblock %}