.menu_nav {
	background-color: #0B610B;
	overflow: hidden;
	border-radius: 16px;
}

.div_menu {
	background-color: black;
}

.table_menu {
	
}

.button_toppings {
	cursor: pointer;
}

.img_toppings {
	
}

.img_toppings:hover {
	transform: scale(1.025);
	transition: all 0.3s;
}

.img_pizza:hover {
	transform: scale(1.025);
	transition: all 0.3s;
}

.div_style {
	display: none;
}